.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;

    border-radius: 10px;
    text-align: center;
}

/* .navigation-auto{
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.navigation-auto:not(:last-child){
    margin-right: 30px;
} */



.navigation-bar{
    display: flex;
    position: relative;
    bottom: 35px;
    left: 90%;
    transform: translate(-50%);
}

input{
    display: none;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
    transition: 0.4s;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.slide{
    width: 33.33%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.333%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

/* #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
} */